In [2]:
import pandas as pd 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_predict
from sklearn.feature_extraction.text import TfidfVectorizer
import statsmodels.api as sm

In [4]:
df = pd.read_csv(r'~/Documents/schoolwork/soda502/class2_20220830/black names.csv')
df.describe

<bound method NDFrame.describe of          name  total_names  percent_black  percent_other  percent_white  \
0     aaliyah         2031      45.347118       9.354998      42.885281
1       aaren            9      55.555557      11.111112      33.333336
2       aaron         4480      20.513393       7.790179      58.459824
3       abbey          132       0.000000       3.030303      93.939392
4        abbi            7       0.000000       0.000000      85.714287
...       ...          ...            ...            ...            ...
2403    zenia           10      60.000004       0.000000      30.000002
2404   zinnia           19       5.263158       0.000000      73.684212
2405      zoe         2859      14.200769       6.225953      70.863937
2406     zoey         1320      12.500000       4.242425      76.666664
2407     zoie          130      21.538462       3.846154      69.230774

      percent_asian  percent_unknown  percent_advanced_degree  \
0          2.067947         0.344658                13.392417
1          0.000000         0.000000                44.444447
2         12.857143         0.379464                43.415180
3          3.030303         0.000000                65.909096
4         14.285715         0.000000                42.857143
...             ...              ...                      ...
2403      10.000000         0.000000                20.000000
2404      21.052631         0.000000                84.210526
2405       8.534452         0.174886                66.037079
2406       6.439394         0.151515                38.939392
2407       4.615385         0.769231                34.615387

                                               comments  black_name educ_cat  \
0      i find aaliyah a very beautiful name. it\'s n...           1      low
1      ugh, i have to say i don\'t like this. aaron ...           1      med
2      aaron being the most loyal of all names more ...           1      med
3      my friend\'s name is abbey christine. her par...           0     high
4      oddly enough, this name always reminds me of ...           0      med
...                                                 ...         ...      ...
2403                                                NaN           1      low
2404   i love this name, it\'s so beautiful and grac...           0     high
2405   i don\'t like the names zoe and chloe either....           0     high
2406   i kind of like this name. it\'s cute, unique,...           0      med
2407   i think this name is unique. i love this name...           1      med

      educ_low  educ_med  educ_high
0            1         0          0
1            0         1          0
2            0         1          0
3            0         0          1
4            0         1          0
...        ...       ...        ...
2403         1         0          0
2404         0         0          1
2405         0         0          1
2406         0         1          0
2407         0         1          0

[2408 rows x 14 columns]>

In [5]:
df['intercept'] = 1 
df.sort_values(by = 'percent_black', ascending = False)
summary = df.groupby('black_name').mean()
black_names = df[df["percent_black"] > 30]
df['percent_black'] = df['percent_black'].apply(lambda x: x ** 2 + 5)
df.drop('percent_black', axis = 1)

,name,total_names,percent_other,percent_white,percent_asian,percent_unknown,percent_advanced_degree,comments,black_name,educ_cat,educ_low,educ_med,educ_high,intercept
0,aaliyah,2031,9.354998,42.885281,2.067947,0.344658,13.392417,i find aaliyah a very beautiful name. it\'s n...,1,low,1,0,0,1
1,aaren,9,11.111112,33.333336,0.000000,0.000000,44.444447,"ugh, i have to say i don\'t like this. aaron ...",1,med,0,1,0,1
2,aaron,4480,7.790179,58.459824,12.857143,0.379464,43.415180,aaron being the most loyal of all names more ...,1,med,0,1,0,1
3,abbey,132,3.030303,93.939392,3.030303,0.000000,65.909096,my friend\'s name is abbey christine. her par...,0,high,0,0,1,1
4,abbi,7,0.000000,85.714287,14.285715,0.000000,42.857143,"oddly enough, this name always reminds me of ...",0,med,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,zenia,10,0.000000,30.000002,10.000000,0.000000,20.000000,NaN,1,low,1,0,0,1
2404,zinnia,19,0.000000,73.684212,21.052631,0.000000,84.210526,"i love this name, it\'s so beautiful and grac...",0,high,0,0,1,1
2405,zoe,2859,6.225953,70.863937,8.534452,0.174886,66.037079,i don\'t like the names zoe and chloe either....,0,high,0,0,1,1
2406,zoey,1320,4.242425,76.666664,6.439394,0.151515,38.939392,"i kind of like this name. it\'s cute, unique,...",0,med,0,1,0,1
2407,zoie,130,3.846154,69.230774,4.615385,0.769231,34.615387,i think this name is unique. i love this name...,1,med,0,1,0,1

In [6]:
df['ghetto'] = df['comments'].str.contains('ghetto',  na=False, regex=False).astype(int)
df['trashy'] = df['comments'].str.contains('trashy',  na=False, regex=False).astype(int)

y = df['black_name'].values
X = df[['intercept', 'ghetto', 'trashy', 'educ_low', 'educ_med', 'educ_high']].values

In [7]:
# instantiate a logistic regression model, and fit with X and y
model = LogisticRegression()
#model = RandomForestClassifier(n_estimators = 100)
model = model.fit(X, y)
print(model.coef_)

# check the accuracy on the training set
model.score(X, y)
y.mean()

[[-2.92089993e-06  1.55184289e+00  2.54602784e-01  8.98074349e-01
   4.82430859e-01 -1.38050813e+00]]

0.32682724252491696

In [8]:
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print(result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.540358
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                 2408
Model:                          Logit   Df Residuals:                     2402
Method:                           MLE   Df Model:                            5
Date:                Mon, 12 Sep 2022   Pseudo R-squ.:                  0.1449
Time:                        14:55:05   Log-Likelihood:                -1301.2
converged:                      False   LL-Null:                       -1521.6
Covariance Type:            nonrobust   LLR p-value:                 4.492e-93
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.7931   1.77e+06  -4.47e-07      1.000   -3.48e+06    3.48e+06
x1             1.6366      0.235      6.969      0.000       1.176       2.097
x2             0.2521      0.138      1.823      0.068      -0.019       0.523
x3             0.6431   1.77e+06   3.62e-07      1.000   -3.48e+06    3.48e+06
x4             0.2275   1.77e+06   1.28e-07      1.000   -3.48e+06    3.48e+06
x5            -1.6636   1.77e+06  -9.37e-07      1.000   -3.48e+06    3.48e+06
==============================================================================

/home/joe/Documents/schoolwork/soda502/soda502/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [ ]:
#vectorize the comments
train = df
train = train.dropna(subset=['comments'])
train = train.reset_index()
train['comments'] = train.comments + " _" + train.educ_cat

vectorizer = TfidfVectorizer(analyzer = "word", tokenizer = None, preprocessor = None, stop_words = 'english', max_features = 1000, ngram_range=(1, 3))